TgxODEJointlist BITMAP components\TgxODEJointlist.bmp
TgxODEManager BITMAP components\TgxODEManager.bmp
TgxNGDJointlist BITMAP components\TgxNGDJointlist.bmp
TgxNGDManager BITMAP components\TgxNGDManager.bmp
