OmniLightTexture RCDATA xrs\OmniLightTexture.dds
ParallelLightTexture RCDATA xrs\ParallelLightTexture.dds
ParallelSpotLightTexture RCDATA xrs\ParallelSpotLightTexture.dds
SpotLightTexture RCDATA xrs\SpotLightTexture.dds